/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    line-height: 1.5;
}

header {
    
    width: 100vw;
    height: 80px;
    padding: 10px 0;
    background-color: white;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    box-shadow: 0px 5px 5px #4848484b;

    
    
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    margin-left: 2vw;
}

.logo img {
    width: 190px;
    cursor: pointer;
    padding: 10px ;
    
}

.menu {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
}

.menu nav {
    display: flex;
    gap: 90px; 
}

.menu nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3em;
   
}

.menu nav a:hover {
    color: #ff7100;
}

.menu nav div{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
    background-color: white;
    border: none;
    cursor: pointer;
}

.menu nav div:hover{
    color: #ff7100;
}

.login {
    margin-right: 2vw;
}

.login a {
    width: 40px;
    height: 40px;
    background-color: white; 
    border: 1px solid #ff7100;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box; 
    text-decoration: none;
    color: black
}

.login a:hover {
    background-color: #ff7100;
    color: white;
    transition: 300ms;
    
}

.login .deslogado {
    
}

.login .logado{
    display: none;
}

.main-container {
    padding: 2rem;
    gap: 2rem;
    
}

.carrossel{
    overflow: hidden;
    height: 400px;
    width: 97vw;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

.images img {
    
    border-radius: 5px;
    width: 97vw;
    height: 400px;
    object-fit: cover;
    
}

.informacao{
    display: flex;
    padding: 2rem;
    justify-content: center;
}

.details {
    max-width: 50%;
    padding: 10px;
}

.details h1 {
    font-size: 2rem;
    color: #333;
}

.details h2 {
    padding: 20px 0px;
}

.details .info {
    margin: 1rem 0;
    font-size: 0.9rem;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.details .description a {
    color: #ff7100;
    text-decoration: none;
}

.contact-form {
    max-width: 300px;
    max-height: 500px;
    padding: 1rem;
    border: 1px solid #ff7100;
    border-radius: 5px;
    background: #f9f9f9;
}

.contact-form h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.contact-form p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

.contact-form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.contact-form input, .contact-form select, .contact-form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ff7100;
    border-radius: 3px;
}

.contact-form button {
    background: #ff7100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.contact-form button:hover{
    background-color: #c15700;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    margin-bottom: 15px;

}

.footer-content i{
    color: white;
}

.footer-content a{
    color: white;
}

.footer-content p {
    margin: 10px 0;
    font-size: 14px;
    color: white;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin: 0 10px;

}

.social-icons img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.footer-bottom p {
    margin: 0;
    font-size: 12px;
    color: white;
}

@media screen and (max-width: 768px){
    
    .menu{
        display: none;
    }
    
    .informacao{
        display: inline;
        justify-items: center;
        
    }

    .details{
        max-width: 100%;
    }
    
    .carrossel{
        height: 237px;
    }
    .images img {
        width: 27vw;
        height: 237px;
    }
    .contact-form{
        justify-items: center;
        margin: auto;
    }
}